<div id="<%= dom_id order %>">
  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= order.token %>
  </p>

  <p>
    <strong>subtotal:</strong>
    <%= order.subtotal %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Item count:</strong>
    <%= order.item_count %>
  </p>
</div>
