<%= form_with(model: order_adjustment) do |form| %>
  <% if order_adjustment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_adjustment.errors.count, "error") %> prohibited this order_adjustment from being saved:</h2>

      <ul>
        <% order_adjustment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :order_id, style: "display: block" %>
    <%= form.text_field :order_id %>
  </div>

  <div>
    <%= form.label :discount_id, style: "display: block" %>
    <%= form.text_field :discount_id %>
  </div>

  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
