<div id="<%= dom_id product %>">
  <p>
    <strong>Supplier:</strong>
    <%= product.supplier_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= product.sku %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to product.image.filename, product.image if product.image.attached? %>
  </p>

</div>
